<!-- instagram -->
<% users.each do |user| %>
    <%= image_tag(user.images.low_resolution.url) %>
<% end %>

<p>キャワタンwwwwwwwwwwwwwwwwww</p>


<!-- googleカレンダー -->
<h2>イベント情報</h2>
<% events.each do |event| %>
<p><b>日時</b></p>
<%= event.start.date %>
<p><b>詳細</b></p>
<%= event.summary %>
<p><b>場所</b></p>
<%= event.location %>
<br><br>
<% end %>

<h2>試合情報</h2>
<% matches.each do |match| %>
<p><b>日時</b></p>
<%= match.start.dateTime %> 〜 <%= match.end.dateTime %>
<p><b>詳細</b></p>
<%= match.summary %>
<p><b>場所</b></p>
<%= match.location %>
<br><br>
<% end %>

<h2>練習情報</h2>
<% practices.each do |practice| %>
<p><b>日時</b></p>
<%= practice.start.dateTime %> 〜 <%= practice.end.dateTime %>
<p><b>詳細</b></p>
<%= practice.summary %>
<p><b>場所</b></p>
<%= practice.location %>
<br><br>
<% end %>
